
._c_compiler.xcodeproj
._*.*
.svn/*
c_compiler.xcodeproj/project.xcworkspace/.svn/all-wcprops

c_compiler.xcodeproj/project.xcworkspace/.svn/entries

*.svn-base

c_compiler.xcodeproj/project.xcworkspace/xcuserdata/.svn/entries

c_compiler.xcodeproj/project.xcworkspace/xcuserdata/.svn/all-wcprops

c_compiler.xcodeproj/project.xcworkspace/xcuserdata/xichen.xcuserdatad/.svn/all-wcprops

c_compiler.xcodeproj/project.xcworkspace/xcuserdata/xichen.xcuserdatad/.svn/entries

*.xcuserstate

*.xcsettings

*.xcbkptlist

*.xcscheme

c_compiler.xcodeproj/xcuserdata/xichen.xcuserdatad/xcschemes/xcschememanagement.plist

c_compiler.xcodeproj/xcuserdata/xichen_sl.xcuserdatad/xcschemes/xcschememanagement.plist

*.out

*.files

tags
